<h1 class="corinthiago" style="color: #F0F8FF; text-shadow: 2px 2px 4px #000000;">
  Karsten Zenk
</h1>
<p style="margin-top: 0px; margin-bottom: 0px; color: #E6F2F5; font-weight: 600; text-shadow: 1px 1px 5px rgba(0,0,0,1);">
  Komplexität nutzen. Projekterfolge wahrscheinlicher machen. Wertschöpfung flexibel ausrichten.
</p>
<p style="margin-top: 5px; margin-bottom: 0px; color: #E6F2F5; font-weight: 500; text-shadow: 1px 1px 5px rgba(0,0,0,1);">
  Ihr Partner für adaptive Projektsteuerung und vertrauenswürdige KI-Governance im industriellen Anlagen- und Maschinenbau.
</p>