<!-- profile-education.de.html -->
<h1 class="corinthiago">(Aus)bildung</h1>
<p class="profile-text">
  Mein Bildungsweg vereint technische Exaktheit, betriebswirtschaftliches Denken und systemische Weitsicht.
  Ausgehend von einer ingenieurtechnischen Basis habe ich meine Perspektive laufend erweitert – durch betriebswirtschaftliche Abschlüsse, Projektmanagement-Zertifikate und kontinuierliches Lernen in Organisationstheorie, Qualität und Strategie.
</p>
<div class="soft-divider"></div>

<p class="profile-text">
  Bildung war für mich nie Selbstzweck, sondern Werkzeug:
  Ich lerne, um Wirkung zu erzielen – durch Systemverständnis, Komplexitätsnavigation und Ermächtigung anderer.
  Für mich ist Bildung ein andauernder Prozess zur Schärfung von Einsicht, Widerstandskraft und Relevanz.
</p>

<div class="soft-divider"></div>

