<!-- profile-education.en.html -->
<h1 class="corinthiago">Architecture of Value</h1>
<p
  class="profile-text"
  style="
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em; /* ADJUST THE SPACING HERE */
    font-size: 1.2em;
  "
>
  My Foundation for Your Success
</p>

<div class="soft-divider"></div>

<p class="profile-text">
  My qualifications are not an academic collection, but the deliberate
  architecture of a singular capability: transforming complex technical
  challenges into measurable business success. The precision of an engineer, the
  strategic acuity of a project manager, and the foresight of a systems-thinking
  economist merge into a perspective that minimizes risk and maximizes value
  creation.
</p>

<div class="soft-divider"></div>

<p class="profile-text">
  This foundation is an investment in the one asset that guarantees superior
  results: the ability to architect winning strategies and execute them with
  excellence. This is the competitive edge I bring to your organization.
</p>

<div class="soft-divider"></div>
