<!-- profile-memberships.de.html -->
<h1 class="corinthiago">Berufliche Mitgliedschaften</h1>
<p class="profile-text">
  Ich bin aktives Mitglied in drei internationalen Organisationen, die Standards setzen und den fachlichen Austausch im Projekt- und Systems Engineering fördern:
</p>
<ul class="profile-text">
  <li><a href="https://www.pmi.org" target="_blank">PMI – Project Management Institute</a><br /><em>Weltweite Referenz für Projekt-, Programm- und Portfoliomanagement</em></li>
  <li><a href="https://www.incose.org" target="_blank">INCOSE – International Council on Systems Engineering</a><br /><em>Vordenker im systemischen Denken, Lifecycle Engineering und interdisziplinärer Zusammenarbeit</em></li>
  <li><a href="https://www.gfse.de" target="_blank">GFSE – Gesellschaft für Systems Engineering</a><br /><em>Deutschsprachige Plattform für Methoden, Werkzeuge und Anwendung im Systems Engineering</em></li>
</ul>
<p class="profile-text">
  Diese Mitgliedschaften vernetzen mich mit Praktikern, Methoden und Denkweisen aus verschiedensten Branchen.
  Sie bereichern meine Arbeit – durch Standards, kollegialen Austausch und Zugriff auf aktuelle Entwicklungen.
</p>
<div class="soft-divider"></div>