<!-- profile-education.en.html -->
<h1 class="corinthiago">Education</h1>
<p class="profile-text">
  My educational path combines technical precision, business acumen, and systemic thinking.
  Starting with an engineering foundation, I continuously expanded my perspective – through business qualifications, project management certifications, and lifelong learning in organizational theory, quality, and strategy.
</p>
<div class="soft-divider"></div>

<p class="profile-text">
  My learning has always been practical and context-driven:
  I study to enable impact – whether by aligning systems, navigating complexity, or empowering others.
  I see education as an ongoing process of sharpening insight, resilience, and relevance.
</p>

<div class="soft-divider"></div>

