<!-- profile-journey.de.html -->
<h1 class="corinthiago">Beruflicher Werdegang</h1>
<p class="profile-text">
  Mein beruflicher Weg ist von Transformation geprägt – strategisch, strukturell und kulturell.
  Von der technischen Basis bis zur Programmsteuerung unterstütze ich Organisationen dabei, sich neu auszurichten, umzudenken und zukunftsfähig zu handeln.
</p>

<div class="soft-divider"></div>

<p class="profile-text">
  Ich habe Veränderungen auf System-, Rollen- und Prozessebene angestoßen und umgesetzt – von ERP-Einführungen über Standortportfolios bis hin zu Programmen für operative Exzellenz.
  Dabei forme ich Unschärfe zu Klarheit, Widerstand zu Ausrichtung und Vision zu Umsetzung.
  Ich wirke dort am stärksten, wo Veränderung Realität werden muss – mit Fokus, Takt und Standfestigkeit.
</p>
<div class="soft-divider"></div>
